#include "resource.h"
#include <windows.h>

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)



//
// Bitmap resources
//
IDB_X264_LOGO           BITMAP                  "x264.bmp"
#if defined(HAVE_FFMPEG)
IDB_FFMPEG_LOGO         BITMAP                  FFMPEG_LOGO
#endif



//
// Dialog resources
//
IDD_ABOUT DIALOGEX 0, 0, 213, 130
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About x264vfw"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,158,109,48,14
    CTEXT           "x264vfw - H.264/MPEG-4 AVC codec",IDC_STATIC,6,6,199,8
    CTEXT           "ABOUT_IDC_BUILD_LABEL",ABOUT_IDC_BUILD_LABEL,6,18,199,18
    CTEXT           "Copyleft 2003-2012 Laurent Aimar, Justin Clay, Min Chen,\nEric Petit, Mans Rullgard, Loren Merritt,\nAnton Mitrofanov (a.k.a. BugMaster)",IDC_STATIC,6,42,199,30
    CTEXT           "This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation.",IDC_STATIC,6,78,199,26
    PUSHBUTTON      "Visit Homepage",ABOUT_IDC_HOMEPAGE,7,109,77,14
END

IDD_CONFIG DIALOGEX 0, 0, 432, 336
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "x264vfw configuration"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,276,320,66,12
    PUSHBUTTON      "Cancel",IDCANCEL,360,320,66,12
    GROUPBOX        "Basic",IDC_STATIC,6,0,258,74
    LTEXT           "Preset:",IDC_STATIC,18,12,54,12,SS_CENTERIMAGE
    COMBOBOX        IDC_PRESET,18,26,54,84,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Tuning:",IDC_STATIC,78,12,54,12,SS_CENTERIMAGE
    COMBOBOX        IDC_TUNING,78,26,54,84,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Profile:",IDC_STATIC,138,12,54,12,SS_CENTERIMAGE
    COMBOBOX        IDC_PROFILE,138,26,54,84,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Level:",IDC_STATIC,198,12,54,12,SS_CENTERIMAGE
    COMBOBOX        IDC_LEVEL,198,26,54,84,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Fast Decode",IDC_TUNE_FASTDECODE,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP,18,42,114,12
    CONTROL         "Zero Latency",IDC_TUNE_ZEROLATENCY,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP,18,58,114,12
    GROUPBOX        "Rate control",IDC_STATIC,6,76,258,120
    COMBOBOX        IDC_RC_MODE,18,86,234,84,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "IDC_RC_LABEL",IDC_RC_LABEL,18,102,114,12,SS_CENTERIMAGE
    EDITTEXT        IDC_RC_VAL,198,102,54,12,ES_AUTOHSCROLL
    CONTROL         "",IDC_RC_VAL_SLIDER,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,18,118,234,12
    LTEXT           "IDC_RC_LOW_LABEL",IDC_RC_LOW_LABEL,18,134,114,12,SS_CENTERIMAGE
    RTEXT           "IDC_RC_HIGH_LABEL",IDC_RC_HIGH_LABEL,138,134,114,12,SS_CENTERIMAGE
    CONTROL         "Create stats file",IDC_STATS_CREATE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,150,114,12
    CONTROL         "Update stats file",IDC_STATS_UPDATE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,150,114,12
    LTEXT           "Stats file:",IDC_STATIC,18,166,54,12,SS_CENTERIMAGE
    EDITTEXT        IDC_STATS_FILE,18,180,210,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_STATS_BROWSE,234,180,18,12
    GROUPBOX        "Output",IDC_STATIC,6,198,258,74
    LTEXT           "Output mode:",IDC_STATIC,18,210,54,12,SS_CENTERIMAGE
    COMBOBOX        IDC_OUTPUT_MODE,18,224,54,84,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "VFW FourCC:",IDC_STATIC,78,210,54,12,SS_CENTERIMAGE
    COMBOBOX        IDC_VFW_FOURCC,78,224,54,84,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
#if X264VFW_USE_VIRTUALDUB_HACK
    CONTROL         "VirtualDub Hack",IDC_VFW_VD_HACK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,138,224,114,12
#endif
    LTEXT           "Output file:",IDC_STATIC,18,242,54,12,SS_CENTERIMAGE
    EDITTEXT        IDC_OUTPUT_FILE,18,256,210,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_OUTPUT_BROWSE,234,256,18,12
    GROUPBOX        "Encoder",IDC_STATIC,264,0,162,74
    CONTROL         IDB_X264_LOGO,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE,277,12,136,39,WS_EX_CLIENTEDGE
    CTEXT           "IDC_ENCODER_LABEL",IDC_ENCODER_LABEL,276,58,138,12,SS_CENTERIMAGE
    GROUPBOX        "Sample Aspect Ratio",IDC_STATIC,264,76,162,42
    LTEXT           "SAR width",IDC_STATIC,276,86,84,12,SS_CENTERIMAGE
    EDITTEXT        IDC_SAR_W,360,86,54,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "SAR height",IDC_STATIC,276,102,84,12,SS_CENTERIMAGE
    EDITTEXT        IDC_SAR_H,360,102,54,12,ES_AUTOHSCROLL | ES_NUMBER
    GROUPBOX        "Debug",IDC_STATIC,264,120,162,76
    LTEXT           "Log level",IDC_STATIC,276,132,84,12,SS_CENTERIMAGE
    COMBOBOX        IDC_LOG_LEVEL,360,132,54,84,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "PSNR",IDC_PSNR,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP,276,148,138,12
    CONTROL         "SSIM",IDC_SSIM,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP,276,164,138,12
    CONTROL         "Disable all CPU optimizations",IDC_NO_ASM,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP,276,180,138,12
#if defined(HAVE_FFMPEG)
#if X264VFW_USE_DECODER
    GROUPBOX        "Decoder && AVI Muxer",IDC_STATIC,264,198,162,74
    CONTROL         IDB_FFMPEG_LOGO,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE,277,210,136,39,WS_EX_CLIENTEDGE
    CONTROL         "Disable decoder",IDC_VFW_DISABLE_DECODER,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP,276,256,138,12
#else
    GROUPBOX        "AVI Muxer",IDC_STATIC,264,198,162,74
    CONTROL         IDB_FFMPEG_LOGO,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE,277,210,136,39,WS_EX_CLIENTEDGE
#endif
#endif
    GROUPBOX        "Extra command line (for advanced users)",IDC_STATIC,6,274,420,42
    EDITTEXT        IDC_EXTRA_CMDLINE,18,284,372,28,ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL
    PUSHBUTTON      "?",IDC_EXTRA_HELP,396,292,18,12
    PUSHBUTTON      "Load Defaults",IDC_DEFAULTS,6,320,66,12
    CTEXT           "IDC_BUILD_DATE",IDC_BUILD_DATE,90,320,168,12,SS_CENTERIMAGE
END

IDD_HELP DIALOGEX 0, 0, HELP_DLG_WIDTH, HELP_DLG_HEIGHT
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "x264vfw help"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",HELP_IDC_OK,HELP_OK_X,HELP_OK_Y,HELP_OK_WIDTH,HELP_OK_HEIGHT
    PUSHBUTTON      "Copy All",HELP_IDC_COPY,HELP_COPY_X,HELP_COPY_Y,HELP_COPY_WIDTH,HELP_COPY_HEIGHT
    EDITTEXT        HELP_IDC_CONSOLE,HELP_CONS_X,HELP_CONS_Y,HELP_CONS_WIDTH,HELP_CONS_HEIGHT,
                    ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
END

IDD_LOG DIALOGEX 0, 0, LOG_DLG_WIDTH, LOG_DLG_HEIGHT
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "x264vfw log"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",LOG_IDC_OK,LOG_OK_X,LOG_OK_Y,LOG_OK_WIDTH,LOG_OK_HEIGHT
    PUSHBUTTON      "Copy All",LOG_IDC_COPY,LOG_COPY_X,LOG_COPY_Y,LOG_COPY_WIDTH,LOG_COPY_HEIGHT
    LISTBOX         LOG_IDC_CONSOLE,LOG_CONS_X,LOG_CONS_Y,LOG_CONS_WIDTH,LOG_CONS_HEIGHT,
                    LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | LBS_NOSEL | WS_VSCROLL | WS_HSCROLL
END



//
// String resources
//
STRINGTABLE
BEGIN
    IDC_PRESET              "Specify trade-off between compression efficiency and encoding speed"
    IDC_TUNING              "Tune options for particular type of source or optimization"
    IDC_PROFILE             "Force the limits of the specified H.264 profile"
    IDC_LEVEL               "Specify H.264 level (as defined by Annex A)"
    IDC_TUNE_FASTDECODE     "Tune options for faster decoding (less CPU demanding) at the cost of compression efficiency"
    IDC_TUNE_ZEROLATENCY    "Tune options for minimal encoding latency (zero frame-buffering) at the cost of compression efficiency"
    IDC_RC_MODE             "Specify bitrate distribution algorithm along the video"
    IDC_STATS_CREATE        "Create stats file with encoding statistics"
    IDC_STATS_UPDATE        "Overwrite stats file with new encoding statistics"
    IDC_STATS_FILE          "Path to the stats file to write/read"
    IDC_STATS_BROWSE        "Browse path to the stats file"
    IDC_OUTPUT_MODE         "Specify output mode (through VFW-interface or directly in to the file)"
    IDC_VFW_FOURCC          "Specify FourCC sequence used for codec identification in VFW-interface"
#if X264VFW_USE_VIRTUALDUB_HACK
    IDC_VFW_VD_HACK         "Use special 'VirtualDub Hack' technique to overcome VFW-interface limitation of one-in/one-out rule\nCAUTION! Enable this option only if you use VirtualDub or its fork. Otherwise codec can produce invalid bitstreams"
#endif
    IDC_OUTPUT_FILE         "Path to the output file"
    IDC_OUTPUT_BROWSE       "Browse path to the output file"
    IDC_SAR_W               "Specify Sample Aspect Ratio width"
    IDC_SAR_H               "Specify Sample Aspect Ratio height"
    IDC_LOG_LEVEL           "Specify which information would be outputed to the log window"
    IDC_PSNR                "Calculate PSNR metric"
    IDC_SSIM                "Calculate SSIM metric"
    IDC_NO_ASM              "Disable use of special functions with SIMD-optimizations (MMX/SSE2/SSE3/SSSE3/SSE4 etc). This is useful only for debugging purposes"
#if defined(HAVE_FFMPEG) && X264VFW_USE_DECODER
    IDC_VFW_DISABLE_DECODER "Disable integrated VFW-decoder for H.264. This is useful if you prefer another VFW-decoder for H.264"
#endif
    IDC_EXTRA_CMDLINE       "Additional x264-style command line options. They would be applied after all other options (and can overwrite them)"
    IDC_EXTRA_HELP          "Help (options list)"
    IDC_DEFAULTS            "Reset all options to default values"
END

#ifdef HAVE_VERSION
#include "version.h"

#define str(s) #s
#define xstr(s) str(s)

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_X264VFW, VER_X264, VER_FFMPEG, VER_FIX
PRODUCTVERSION  VER_X264VFW, VER_X264, VER_FFMPEG, VER_FIX
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32 /* Identical for x86-64 */
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904E3"
        BEGIN
            VALUE "CompanyName",      "x264vfw project"
            VALUE "FileDescription",  "x264vfw - H.264/MPEG-4 AVC codec"
            VALUE "FileVersion",      VER_FULL
            VALUE "InternalName",     "x264vfw"
            VALUE "LegalCopyright",   "Copyright (C) 2003-2012 x264vfw project"
            VALUE "OriginalFilename", xstr(DLL_NAME)
            VALUE "ProductName",      "x264vfw"
            VALUE "ProductVersion",   VER_FULL
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0419, 0x04E3
    END
END
#endif
